<div class="col-lg-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/kevin-ramos/">Kevin</a>.
    An aspiring web developer who is on a mission to learn the technical skills needed to launch my own MVPs, turn my ideas in to reality, and to become the next Hokage! Believe it!
  </p>
  <br />
  <p>
    Currently, he is learning how to properly create his own web applications. This application itself is the culmination of hardwork after hours reading and coding. Splurty is an application that displays quotes created by a user. It is a great introduction to creating your own apps!
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
       Hola
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kevin Ramos</h2>
      <br />
      <p>
        Kevin Ramos is an aspiring web developer and currently a cytology lab assistant. He attended University of California, Irvine where he studied Biology. Although his background consist mostly of working in the medical field, he decided that he wanted to change fields and find work in the technology field. He hopes to gain the knowledge needed to switch over in his studies with UC Berkeley's Coding Bootcamp.
      </p>
    </div>
  </div>
  <br class="clear" />
    <br />
    <br />
    <br />
    <br />
</div>

